/* Space out content a bit 整个页面下调了一些*/
body {
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header上面的横线 */
.header {
    border-bottom: 1px solid #ffffff;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;/*This is the about view.*/
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #ffffff;
}

/* Customize container网页的大小 */
@media (min-width: 768px) {
    .container {
        max-width: 730px;
        border-bottom: 1px solid #ffffff;
    }
}
.container-narrow > hr {
    margin: 30px 0;
    border-bottom: 1px solid #ffffff;
}

/* Main marketing message and sign up button 居中*/
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #ffffff;

}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}



/* Supporting marketing content */
/*活动名称下调*/
.marketing {
    margin: 40px 0;

}
.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
