<header>
    竞价({{bid}})({{bids_length}}人)
    <div class='header-left'>
        <a class='btn-style btn-4' id='bidlist/{{activity_name}}'>返回</a>
    </div>
</header>
<div class='wrapper scrollable' id='wrapper'>
    <ul class='list-style-2' id='bidlist'>
        <li ng-repeat='bid in bids'>
            <div style=' float:left width:50%'>
                <h1>
                    {{bid.id}}.{{bid.price}}
                    <!--<div style='float:right'>-->
                    {{bid.phone}}
                    <!--</div>-->
                </h1>
            </div>
        </li>
    </ul>
</div>
<ul>
    <div class="wrapper scrollable">
        <div class="ng-scope">
            <ul class="list-style-2">
                <li id="list1_id" ng-repeat="bidding in biddings track by $index"><h1>￥ {{bidding.price}}
                    {{bidding.count}}人</h1></li>
            </ul>
        </div>
    </div>
</ul>
<footer>
    <div>
        <ul ng-hide="show_bid" class="list-style-2"><h1>{{bider}} {{phone}} ￥{{price}} 竞价成功</h1></ul>
    </div>
    <ul class='footer-nav footer-nav-2tabs'>
        <li>
            <a href='/#/bidresult/1'>
                竞价结果
            </a>
        </li>
        <li class='active'>
            <a href='/#/bidstatistics/{{activity_name}}'>
                价格统计
            </a>
        </li>
    </ul>
</footer>