
<header>
    活动列表
<!--<div class="header-right">-->
    <!--<button class="btn-style btn-4" ng-click="go_creat()">创建活动</button>-->

<!--</div>-->
    <div class="header-right">
        <a class="btn-style btn-4"  ng-click="go_creat()">创建活动</a>
    </div>
</header>
<!--<p> {{list}}</p>-->

<ul>
    <div id="wrapper" class="wrapper scrollable">
        <ul class="list-style-2">
    <li ng-repeat="phone in list1">
        <h1>{{phone.actname}}</h1>
        <!--<i class="icon-angle-right"></i>-->
    </li>
            </ul>
        </div>
</ul>