<!--<div>-->
    <!--<h1>创建活动</h1>-->
    <!--<div>-->

        <!--</header>-->

        <!--<div class="row marketing">-->
            <!--<h4>活动名称</h4>-->


            <!--<div class="input-prepend">-->
                <!--<span><i class="icon-user"></i></span>-->
                <!--<input class="" id="prependedInput" type="text" placeholder="">-->
            <!--</div>-->


        <!--</div>-->
        <!--<button class="btn btn-default btn-lg"  ng-click="go_register()">创建</button>-->

    <!--</div>-->
    <!--<div>-->

    <!--</div>-->
    <!--<div class="header-right">-->
        <!--<button class="btn btn-default btn-lg"  ng-click="go_creat_return()">返回</button>-->

    <!--</div>-->
    <!--</div>-->
<header>
    <h3>
        创建活动
    </h3>
</header>

<div id="wrapper" class="wrapper scrollable">
    <form class="wrapper-inner">
        <fieldset class="form-wrapper">
            <h5>活动名称</h5>
            <input ng-model="activity" class="input-full" />
         <div>   <button ng-click="go_register()" ng-disabled="!activity" class="btn-style btn-2">创建</button></div>
            <!--<input type="text" class="input-full" />-->
            <!--<a href="" ng-click="go_register()">创建</a>-->

</div>
        <div>
<div class="header-right">
    <a class="btn-style btn-4" ng-click="go_creat_return()">返回</a>
</div>
</div>
