   <!--&lt;!&ndash;<header>&ndash;&gt;-->
    <!--微博推广列表-->
    <!--<div class="header-left">-->
        <!--<a href="#" class="side-slide-trigger btn-style btn-4"><i class="icon-reorder"></i></a>-->
    <!--</div>-->
    <!--<div class="header-right">-->
        <!--<a href="#" class="btn-style btn-4"><i class="icon-refresh"></i> 刷新</a>-->
    <!--</div>-->
    <!--</header>-->
    <p>报名</p>
    <div class="header-left">
        <button class="side-slide-trigger btn-style btn-4" ng-click="go_return()">开始</button>

    </div>
    <div class="header-right">
        <button class="btn-style btn-4" ng-click="go_return()">返回</button>

    </div>
    报名
    <header>
报名
</header>
   <footer>
       <ul class="footer-nav footer-nav-2tabs">
           <li class="active"><a href="weibo-list.html"></i><br /><h2>报名</h2></a></li>
           <li><a href="weibo-analyze-list.html"></i><br /><h2>竞价</h2></li>
       </ul>
   </footer>


