

<!--</div>-->
<!--</div>-->
<!--<header>-->
    <!--<h3>-->
        <!--创建活动-->
    <!--</h3>-->
<!--</header>-->

<!--<div id="wrapper" class="wrapper scrollable">-->
    <!--<form class="wrapper-inner">-->
        <!--<fieldset class="form-wrapper">-->
            <!--<h5>活动名称</h5>-->
            <!--<input type="text" class="input-full" ng-model="active" ng-change="IsUseStr()">-->
            <!--<button class="btn-style btn-4"  ng-click= "go_register()" ng-disabled="!active">创建</button>-->

<header>创建活动<div class="header-left">

</div></header>
<div class="wrapper scrollable" id="wrapper">


    <form class="wrapper-inner">
        <fieldset class="form-wrapper">
        </fieldset><h5>活动名称</h5>
        <input ng-model="activity" class="input-full" />
      <p></p>
        <div style="color:#ff0000" ng-show="show1" class="logo-flat">活动名重复</div>
        <button ng-click="go_register()" ng-disabled="!activity"  class="btn btn-primary btn-lg btn-block" >创建</button></form></div>
</div>
<div>
    <div class="header-right">
        <a class="btn-style btn-4" ng-click="go_creat_return()"><div ng-show='show'>返回</div></a>
    </div>
</div>
<!--<div style="color:#ff0000" ng-show="show1" class="logo-flat">活动名重复</div>-->
