

<!--</div>-->
<!--</div>-->
<!--<header>-->
    <!--<h3>-->
        <!--创建活动-->
    <!--</h3>-->
<!--</header>-->

<!--<div id="wrapper" class="wrapper scrollable">-->
    <!--<form class="wrapper-inner">-->
        <!--<fieldset class="form-wrapper">-->
            <!--<h5>活动名称</h5>-->
            <!--<input type="text" class="input-full" ng-model="active" ng-change="IsUseStr()">-->
            <!--<button class="btn-style btn-4"  ng-click= "go_register()" ng-disabled="!active">创建</button>-->

<header>创建活动<div class="header-left">
    <button ng-show="show" ng-click="back_one()" class="btn-style btn-4">返回</button>
</div></header>
<div class="wrapper scrollable" id="wrapper">


    <form class="wrapper-inner">
        <fieldset class="form-wrapper">
        </fieldset><h5>活动名称</h5>
        <input ng-model="activity" class="input-full" />
        <button ng-click="go_register()" ng-disabled="!activity" class="btn-style btn-2">创建</button></form></div>
