#bid_list
header
    竞价
    .header-right
        button.btn-style.btn-4( ng-click="start()") 开始
    .header-left
         button.btn-style.btn-4( ng-click="go_by()") 返回

#wrapper.wrapper.scrollable
    div.ng-scope
        ul.list-style-2
                li(ng-repeat="bid in bids" ng-click="jj(bid.bid_name)"){{bid.bid_name}}


footer
    ul.footer-nav.footer-nav-2tabs
        li
            icon-group
                a(href='#/creat_active') 报名
        li.active
            icon-comments
                a(href='#/bid_list') 竞价