#bid_list
header
    竞价({{active_num}}{{people_number}}人)
    .header-right(ng-switch="switch")
            button.btn-style.btn-4( ng-click="start()" ng-switch-when="true") 开始
            button.btn-style.btn-4( ng-click="end()" ng-switch-when="false") 结束
    .header-left
         button.btn-style.btn-4( ng-click="go_return()") 返回
