header
    竞价({{activity_bid}})({{people_number1}}人)
    .header-left
        button.btn-style.btn-4( ng-click="go_return()") 返回

ul
    div.wrapper.scrollable
        div.ng-scope
            ul.list-style-2
                li(id="list1_id" ng-repeat="phone in list4 track by $index")
                    h1 {{phone.bid}} {{phone.iphone}}     ￥{{phone.iprice}}


//id.myModal
//    div.modal.hide.fade
//        div.modal-header
//            button.close(data-dismiss="modal" aria-hidden="true")&times;
//                h3 对话框标题
//            div.modal-body
//                h2 One fine body
.modal.fade#ModalSuccess
    .modal-dialog
        .modal-header
        button.close(data-dismiss="modal" aria-hidden="true")&times;
        .modal-body
        .center
        h1 {{bider}}  {{telephone}}  ￥{{bider_price}}    竞价成功
        .modal-footer

//footer
//        ul
//            ul.list-style-2(ng-show = "show_bid")
//                h1 {{bider}}  {{telephone}}  ￥{{bider_price}}    竞价成功



footer
    div
        ul.list-style-2(ng-show = "show_bid")
            h1 {{bider}}  {{telephone}}  ￥{{bider_price}}    竞价成功
    div.footer-nav.footer-nav-2tabs
        li
            icon-group
                a(href='#/result_price') 竞价结果
        li.active
            icon-comments
                a(href='#/price_result') 价格统计